html, body {
     width: 100%;
    height: 100%;
    margin: -10px;
    padding: 0px;

}
body {
    
padding: 0;
margin: 0;
margin-right:10px;
margin-left:10px;
}

body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}


.topnavigator {
    background-color: #333;
    overflow: hidden;
}

.topnavigator a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.topnavigator a:hover {
    background-color: #ddd;
    color: black;
}

.topnavigator a.active {
    background-color: #ff6600;
    color: white;
}

#hdrimg img
{
    margin: 0 auto;
     height: auto;
    width: 100%;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: avenir;
    font-size: 25px;
}
.avatar {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar img {
    border-radius: 50%;
     width: 200px;
     height: 200px;
}
.topnavigator
{
   position: -webkit-sticky;
   position: sticky;
   z-index: 99999;
   top: 0px;
}
#page1
{
    margin: 0 auto;
    font-family:fantasy;
    margin-bottom: -21px;

}
.ctrlbl
{
    text-align: center;
    font-family: avenir;

}

#page2
{
     margin-right:50px;
	margin-left:50px;

}

#page2:after
{  
   content: "";
    display: table;
    clear: both; 
   
}
.column {
    float: left;
    width: 50%;
}
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
	body{
	margin-right:10px;
	margin-left:10px;
	}
	nav li {
		display:compact;
	}
	.portfolio img{
	width:100%;
	}
}
#education
{
   text-align:center;
	padding-bottom:40px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;  
}
#Proj{
    text-align:center;
	padding-bottom:40px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
#skills{
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
#skills li{
	display:inline;
	padding-right:9px;
	font-weight:200;
	line-height:25px;
	
}

#exp{
	text-align:center;
}

#exp li{
	font-weight:100;
	display: inline-table;
	padding-right:19px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
	text-align:center;

}
#LAN{
	text-align:center;
}

#LAN li{
	font-weight:100;
	display: inline-table;
	padding-right:19px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
	text-align:left;

}
#page3
{       margin: 0 auto;
        


}

#page4
{
}
.hdr
{
    margin-bottom: -30px;
}


input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.ContForm {
    border-radius: 5px;
    background-color: #ff6600;
    padding: 20px;
}
